<div #panel class="app-panel-container"
     (mousedown)="onMouseDown($event)"
     (mousemove)="onMouseMove($event)"
     (mouseup)="onMouseUp()"
      (dblclick)="createNewNote($event)"
     >
  <app-card [note]="note" *ngFor="let note of noteService.notes"></app-card>
</div>

<div class="app-panel-footer">
  <button mat-mini-fab="" (click)="scaleDown()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-mini-fab="" (click)="scaleUp()">
    <mat-icon>remove</mat-icon>
  </button>

  <button mat-mini-fab="" (click)="save()">
    <mat-icon>save</mat-icon>
  </button>

</div>

